@font-face {
    font-family: Dalek;
    src: local("Dalek Pinpoint Bold"),
        url(font/Dalek.ttf);
}
html {
    font-family: Dalek;
    font-size: 15 px;
    box-sizing: border-box;
    background: rgb(163, 211, 178);
    
}

body {
    margin: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.panels {
    min-height: 100vh;
    overflow: hidden;
}

.panel {
    background: rgb(83, 131, 235);
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
    color : wheat;
    text-align: center;
    align-items: center;

    background-size: cover;
    background-position: cover;
}